
@{ Layout = "_Layout"; }

    <h1>Eliminar</h1>
    <p>
        ¿Está seguro que quiere eliminar su cuenta?
        <br />
        Una vez elimine su cuenta no podrá volver a acceder a ella.
    </p>
    <a href="~/Home/Index">
        <label>
            No. Volver a mi perfil.
        </label>
    </a>
    <form method="post" action="~/Home/EliminarCuenta">
        <input type="text" name="correo" value="@User.Claims.FirstOrDefault(x=>x.Type == "Correo").Value" style="visibility:hidden" />
        <br />
        <input type="password" name="contra" placeholder="Contraseña" required />
        <br />
        @Html.ValidationSummary()
        <input type="submit" value="Eliminar mi cuenta." />
    </form>