
@{ Layout = "_Layout"; }

    <h1>Perfil</h1>
    <h2>@User.Claims.FirstOrDefault(x => x.Type == "Nombre").Value</h2>
    <h3>@User.Claims.FirstOrDefault(x => x.Type == "Correo").Value</h3>
    <a href="~/Home/CerrarSesion">Cerrar mi sesión</a>
    <br /><br />
    <a href="~/Home/CambiarContra">Cambiar mi contraseña</a>
    <br /><br />
    <a href="~/Home/EliminarCuenta">Eliminar mi cuenta</a>

    @Html.ValidationSummary()