@model Actividad1.Models.Usuarios
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }

<main>
    <a href="~/Home/IniciarSesion">
        <label>Volver a Iniciar Sesión</label>
    </a>
    <h1>Recuperar Contraseña</h1>
    <p>
        Ingrese su correo electronico y le enviaremos un correo para recuperar su contraseña
    </p>
    <form method="post" action="~/Home/RecuperarContra">
        <input type="email" name="correo" placeholder="Correo electrónico" required />
        <br />
        <input type="submit" value="Enviar correo" />
    </form>
</main>