@model Actividad2.Models.Maestro
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }

<section id="datos">
    <h1>Editar maestro</h1>
    <form method="post" action="~/Home/EditarMaestros">
        <input type="hidden" asp-for="Id" />
        <br />
        <label id="labels">Clave:</label>
        <input id="txtdisplay" type="number" asp-for="Clave" required readonly />
        <br />
        <label id="editar">Nombre completo:</label>
        <input type="text" asp-for="Nombre" required />
        <br />
        @Html.ValidationSummary()
        <input type="submit" value="Modificar" />
        <a href="~/Home/VerMaestros">Cancelar</a>
    </form>
</section>
