@{ Layout = "_Layout"; }

<h2>Bienvenido, inicie sesion para continuar</h2>

<div class="contenedor">
    <a href="~/Home/IniciarSesionDirector">
        <input type="button" value="Iniciar Sesion como director" />
    </a>
    <br />
    <br />
    <a href="~/Home/IniciarSesionMaestro">
        <input type="button" value="Iniciar sesion como maestro" />
    </a>
</div>